@charset "UTF-8";

html {
  font-size: 62.5%;
}

body {
  font-family: "Hiagino Kaku Gothic Pron", Meiryo, sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: orange;

}

h1 {
  color: #333;
  transform: translateY(-20%);
}

#calendar {
  padding: 10px 10px 10px 50px;
  transform: translateY(-40%);
}

.button {
  background-color: #FFDAB9;
  width: 300px;
  height: 50px;
  border-radius: 25px;
  font-size: 3rem;
  outline: none;
  margin-top: 20px;
  transform: translateY(-50%);
}

#showDOB, #showdiffDate, #show17yNmonth {
  display: flex;
  align-items: center;
}